#control h2{
    font: normal 1.8em Arial, sans-serif;
    color: #00518f;
    padding: 20px 0 0 15px;
}
#control table{
    padding: 10px;
    width: 100%;
}
#control table button{
    text-transform: uppercase;
    margin: 5px 0 0 1px;
    font: bold 0.8em Arial;
    padding: 3px 8px;
    color: #535c69;
    background: rgba(255, 255, 255, 0.8);
}
#control th,td{
    text-align: left;
    vertical-align: middle;
    font: normal 1.3em Arial, sans-serif;
    padding: 0;
}
#control th:first-of-type,#control td:first-of-type{
    text-align: center;
}
#control th{
     font-weight: bold;
}
#control tr:nth-child(even){
    background: #dadada;
}
td input,
td [data-type='save'],
td [data-type='cancel']{
	display: none;
}
.show td input,
.show td [data-type='save'],
.show td [data-type='cancel']{
	display: block;
}
.show td span,
.show td [data-type='edit']{
	display: none;
}
#control td span{
    font: normal 1em Arial, sans-serif;
}
#profile_a a{
    font: normal 0.85em Arial, sans-serif;
    color: #424242;
    text-decoration: none;
}
#profile_a a:hover{
    text-decoration: underline;
    color: #FF7540;
}