footer{
    height: 20px;
    text-align: right;
    clear: both;
    width: 100%;
    background: rgb(238, 242, 244);
    margin-top: 0;
}
footer a{
    font: normal 1.2em Neucha;
    color: rgb(83,92,105);
    margin-right: 20px;
}
footer a:hover{
    text-decoration: none;
    color: #FF7540;
}