aside{
    width: 13.4%;
    float: left;
}
#top{
    float: left;
    border-radius: 5px;

}
#top a{
    width: 141px;
    margin-bottom: 1px;
    padding: 5px 20px 8px 30px;
    color: #535c69;
    display: flex;
    font: normal 1.3em Arial, sans-serif;
    text-decoration: none;

}
#top a:hover{
    background: #dadada;
    color: #000;
}
#top a:focus{
    opacity: 0.4;
}

/*custom menu*/
#top h2{
    font: bold 1.5em UbuntuMono-R;
    text-transform: uppercase;
    padding-left: 30px;
    width: 100px;
    color: #535c69;
}
.current_page{
    background: #dbd9cc;
}
#top a:first-of-type{
    width: 191px;
    height: 165px;
    background: url("../images/like_favicon.jpg") no-repeat center center;
    background-size: 100%;
    padding: 0;
}
