header{
    font: normal 1.4em Arial;
    color: white;
    width: 85%;
    float: right;
    height: 165px;
    padding: 0 10px;
    background: rgb(83,92,105);
    border-left: 2px solid #dadada;
}
header p{
    font: normal 1em Arial;
    color: white;
    margin: 0;
}
header a{
    text-decoration: none;
}
#test{
    font: bold 0.85em UbuntuMono-R;
    text-transform: uppercase;
    color: #fff;
}
#test:hover{
    opacity: 0.4;
}
#autorization{
    width: 250px;
    clear: both;
    float: right;
    margin-right: 10px;
    height: 100px;
    color: #ffffff;
}
#autorization input{
    padding-left: 5px;
    width: 100%;
    font-size: 1.4em;
    margin: 6px 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-placeholder-color: #fff;
 }
#autorization button{
    text-transform: uppercase;
    margin: 5px 0 0 1px;
    font: bold 1em Arial;
    padding: 3px 8px;
    color: #535c69;
    background: rgba(255, 255, 255, 0.8);
}
#autorization button:hover{
    opacity: 0.7;
}
.error p{
    padding-left: 2px;
    color: red;
    background: white;
    font: normal 0.9em Arial;
}

#wrapper_autorization{
    padding: 10px 0 0 25px;
    font: normal 1.2em Arial, sans-serif;
}
#wrapper_autorization img{
    margin-right: 10px;
    width: 84px;
    height: 84px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}
#wrapper_autorization a{
    font: normal 1em Arial, sans-serif;
    color: #fff;
}
#wrapper_autorization a:first-of-type:hover{
    opacity: 0.7;
    text-decoration: underline;
}
#registration{
    margin-left: 10%;
    width: 420px;
}
#registration h2{
    margin-left: 20px;
    font: normal 2.6em Neucha;
    color: #00518f;
}
#registration input, #registration textarea, #registration select{
    width: 200px;
    float: right;
    font-size: 1.2em;
}
#registration select{
    width: 204px;
}
#registration textarea{
    resize: none;
}
.line{
    width: 380px;
    margin: 30px 20px;
}
.line span{
    vertical-align: top;
}
#registration .line:last-of-type{
    color: #535c69;
}
.line span:nth-child(odd){
    font: normal 1.2em UbuntuMono-R;
    color: #535c69;
}
.line span:nth-child(even),
.star, span.star:last-of-type{
    color: red;
}
#registration button{
    float: right;
    margin: 20px 20px 0 0;
    font: bold 1.1em Arial;
    padding: 3px 8px;
    color: #535c69;
    background: rgba(255, 255, 255, 0.8);
}
#registration button:hover{
    opacity: 0.8;
}
#registration .line:last-of-type{
    font-size: 1.05em;
    margin: 50px 0 10px 20px;
}
#reg_a a{
    clear: both;
    float: right;
    display: inline-block;
    margin: 10px 10px 0 0;
    color: #fff;
    font: bold 1.1em UbuntuMono-R;
    text-transform: uppercase;
}
#reg_a a:hover{
    opacity: 0.4;
}