#fullName{
    font: normal 2.2em Neucha;
    text-transform: uppercase;
}
#avatar{
    width: 300px;
    height: 300px;
    margin-left: 20px;
    float: left;

}
#avatar img{
    width: 264px;
    height: 264px;
}
#info{
    width: 500px;
    min-height: 600px;
    float: left ;
}