main{
    float: right;
    width: 85%;
    min-height: 575px;

}
section{
    background: #ffffff;
    float: right;
    width: 100%;
    padding: 0 10px 10px 10px;
    border-left: 2px solid #dadada;
    border-bottom: 2px solid #dadada;
	min-height: 575px;
}
#home p{
    width: 520px;
    padding-left: 10px;
    margin-top: 0;
    font: normal 1.35em Arial, sans-serif;
    color: #535c69;
    float: left;
}
#home p:first-of-type{
    width: 1100px;
}
.imag-content img{
    float: right;
    width: 600px;
    border: 1px solid #00518f;
}
.link{
    border: 1px solid #00518f;
    color: #00518f;
    text-decoration: none;
    border-radius: 10%;
    padding: 0 4px;
    font: normal 0.9em Neucha;
}
.link:hover{
    color: white;
    background: #00518f;
}
#home p{
    margin-left: 50px;
}
#block-about{
    float: left;
    width: 500px;
    padding: 0 20px 5px;
    margin: 15px 0 0 30px;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
#form-contact{
    float: right;
    width: 600px;
    margin-right: 30px;
}
#about p{
    margin-left: 20px;
}
#contact-us{
    margin: 50px 0 0 70px;
}
#contact-us label{
    font: normal 1.2em UbuntuMono-R;
    color: #535c69;
}
#contact-us input, #contact-us textarea{
    width: 400px;
}
.questions{
    font: normal 1.6em Arial, sans-serif;
    color: #00518f;
}
.questions:first-child{
    margin-top: 15px;
}
#form-contact h3:last-of-type{
    margin-top: 70px;
}
#form-contact button{
    float: right;
    margin-right: 105px;
    font: bold 1.1em Arial;
    padding: 3px 8px;
    color: #535c69;
    background: rgba(255, 255, 255, 0.8);
    margin-top: -12px;
}
#form-contact button:hover{
    opacity: 0.8;
}
#form-contact .line:last-of-type{
    font-size: 1.05em;
    margin: -2px 0 10px 20px;
    color: #535c69;
}
.italic{
    font: normal 1.5em UbuntuMono-R;
    color: #535c69;
}
.bold{
    font: bold 1.35em UbuntuMono-R;
    color: #535c69;
}