body{
    margin: 0;
    background: rgb(238, 242, 244);
}
@font-face {
    font-family: UbuntuMono-R;
    src: url(../ttf/UbuntuMono-R.ttf) format("truetype");
}
@font-face {
    font-family: Neucha;
    src: url(../ttf/NeuchaRegular.ttf) format("truetype");
}

.h2{
    font-size: 2.6em;
    font-weight: lighter;
    margin-left: 60px;
    font-family: Arial, sans-serif;
    color: #00518f;

}
.h3{
    clear: both;
    font-size: 1.6em;
    font-weight: lighter;
    font-family: Arial, sans-serif;
    margin-left: 60px;
}
#container{
    width: 100%;
    min-height: 768px;
}
#dialog-form p:first-of-type, #dialog-form p:last-of-type{
    width: 280px;
    margin: 0;
}
#dialog-form p{
    width: 280px;
    margin: 37px 0;
}
#dialog-form input, #dialog-form textarea{
    float: right;
}